/* explore.css */
body{
    background-color: hsla(193, 20%, 88%, 1);
}
.explore-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    top: 2rem;
    width: 30rem;
    left: 0.5rem;
    right: 2rem;
    height: 20rem;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    padding: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
    
  }
  
  .finance {
    background-image: url('./images/finance.jpg');
    size: 10rem;
  }
  
  .sites {
    background-image: url('./images/sites.jpg');
  }
  
  .houses {
    background-image: url('./images/houses.jpg');
  }
  
  .buildings {
    background-image: url('./images/buildings.jpg');
  }
  
  .contractors {
    background-image: url('./images/contracters.jpg');
  }
  
  .workers {
    background-image: url('./images/workers.jpg');
  }
  
  .maintenance {
    background-image: url('./images/maintainence.jpg');
  }
  
  .legal-team {
    background-image: url('./images/legal.jpg');
  }
  
  .contact-us {
    background-image: url('./images/contact.jpg');
  }
  
  .content span {
    /* font-weight: bold; */
    font-size: 1.5em;
    color: white;
  }
  .content:hover {
    transform: scale(1.1); /* Scale up the content on hover */
  }